*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
html
{
    height: 100vh;
}
body
{
    background-image: linear-gradient(90deg,#9a75f0,#FFA4B6);
}

h1,h2,h6
{
    color: white;
}
h1
{
    font-weight: 300;
    font-size: 200%;
    margin-bottom: 30px;
}
h2
{
    font-weight: 800;
    letter-spacing: 0.25rem;   
}
h6
{
    font-size: 50%;
    font-weight: 700;
    margin-bottom: 50px;
}
img
{
    width: 200px;
    
}
.content
{
    transform: translate(0,50%);
}
.btn
{
    color: white;
    background-color: rgba(255,255,255,0.3);
    font-weight: 700;
    border-radius: 25px;
    padding: 10px 20px;
}
.btn:hover,
.btn:visited
{
    color: white;
}
