*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
html,body,.content
{
    height: fit-content;
}
body
{
    background-image: linear-gradient(90deg,#9a75f0,#FFA4B6);
}
iframe
{
    width: 100%;
    height: 100%;
}
a,a:hover,a:visited
{
    color: black;
    text-decoration: none;
}
.navlink
{
    font-size: 150%;
}
.username a
{
    font-weight: 600;
}
.row
{
    margin-left: 0px;
    margin-right: 0px;
}
.content
{
    border-radius: 90px 0 0 0;
    background-color: white;
    margin-top: 40px;
    height: fit-content;
}
.avatar
{
    width: 50px;
}
.info-icon
{
    margin-top:10px;
    margin-left: 90%;
}
.menu
{
    padding : 25px 0px 25px 40px;
}

.username,.status
{
    width:90%;
    margin-left: 0px;
}
.backgroundBar
{
    border-radius: 5% 5% 0 0;
    margin-right: 100px;
    position: fixed;
    border-top: 2px solid rgb(114, 114, 114,0.6);
    top: 90%;
    background-image: linear-gradient(90deg,#fff,#fff);
    height: 80px;
    width: 100%;
    z-index: 3;
}
.backgroundRound
{
    position: fixed;
    left: calc(50% - 40px);
    border-top: 2px solid rgb(114, 114, 114,0.6);
    border-radius: 50%;
    top: 88%;
    background-image: url(/image/iconRoom.png);
    height: 80px;
    width: 80px;
    z-index: 4;
}

.icon{
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 89%;
    z-index: 5;
    margin-top: 10px;
}
#iconNewsfeed,#iconSearch,#iconNoti,#iconProfile
{
    position: relative;;
    height: 4.5vh;
    width: 4.5vh;
    top: 10px;
}

#iconRoom
{
    height: 6vh;
    width: 6vh;
    top: 0px;
}
.icon_Room
{
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 50%;
    transform: translate(5%,10%);
}
.following
{
    font-weight: 700;
}
.status-2
{
    margin-bottom: 80px;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .multimedia {
        height: 60vh;
        width: 100%;
    }

    .container{
        padding-left: 10%;
        padding-right: 10%;
    }
}


