* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

html,
body,
.content {
    height: 100vh;
}

body {
    background-image: linear-gradient(90deg, #9a75f0, #FFA4B6);
}

p {
    font-weight: 500;
    padding-left: 20px;
}

.content {
    border-radius: 90px 0 0 0;
    background-color: white;
    margin-top: 40px;
}

.backgroundBar {
    border-radius: 5% 5% 0 0;
    margin-right: 100px;
    position: fixed;
    border-top: 2px solid rgb(114, 114, 114, 0.6);
    top: 90%;
    background-image: linear-gradient(90deg, #fff, #fff);
    height: 80px;
    width: 100%;
    z-index: 3;
}

.backgroundRound {
    position: fixed;
    left: calc(50% - 40px);
    border-top: 2px solid rgb(114, 114, 114, 0.6);
    border-radius: 50%;
    top: 88%;
    background-image: url(/image/iconRoom.png);
    height: 80px;
    width: 80px;
    z-index: 4;
}

.icon {
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 89%;
    z-index: 5;
    margin-top: 10px;
}

#iconNewsfeed,
#iconSearch,
#iconNoti,
#iconProfile {
    position: relative;
    height: 4.5vh;
    width: 4.5vh;
    top: 10px;
}

#iconRoom {
    height: 6vh;
    width: 6vh;
    top: 0px;
}

.icon_Room {
    height: 7.5vh;
    width: 7.5vh;
    border-radius: 50%;
    transform: translate(20%, 10%);
}

.user-1 {
    margin: 15px;
    border: 2px grey solid;
    border-radius: 20px;
    margin: 20px;
}




.btnFollow {
    padding: 0px 10px 0px 10px;
    margin-top: 0;
    margin-bottom: 0px;
    background-image: linear-gradient(90deg, #9a75f0, #FFA4B6);
    border-radius: 50px;
    font-weight: 700;
    border: none;
    font-size: 90%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

a,
a:hover,
a:visited {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.age {
    width: 15%;
    height: 15%;
}

.detail {
    font-weight: 600;
    font-size: 90%;
    line-height: 2rem;
}

i.fas {
    font-size: 150%;
}

.avatar-profile {
    width: 100%;
    margin-top: 20px;
}

.col-5,
.col-6,
.col-3 {
    padding-right: 0;
}

.descrip {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
}

.info {
    margin-top: 10px;
}

h1 {
    margin-top: 30px;
    margin-left: 15%;
    font-family: 'Oswald', sans-serif;
}

.btnEdit {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translate(25%, 0%);
    border-radius: 50px;
    padding: 0 12px;
    color: white;
    margin-bottom: 10px;
}

.amount-follower,
.amount-following {
    font-size: 140%;
    font-weight: 600;
}

#score {
    width: 8%;
}

.score {
    font-family: 'Oswald', sans-serif;
    margin-left: 10px;
}

.score-detail {
    font-weight: 700;
    margin-left: 10px;
    line-height: 2.5rem;
}

.current-score {
    margin-left: 20px;
    line-height: 2.5rem;
}

.evalution {
    position: relative;
    top: 0;
    left: 0;
    height: 30vh;
    width: 100vw;
    z-index: 3;
    background-color: #fff;
}

#chart-container {
    position: relative;
    top: 2%;
    height: 200%;
    width: 100%;
    margin-bottom: 12%;
}
